POSTGRES_DB=portfolio_db
POSTGRES_USER=portfolio_user
POSTGRES_PASSWORD=mot_de_passe_solide

PAYLOAD_SECRET=secret_tres_long_random

PAYLOAD_PUBLIC_SERVER_URL=http://IP_DU_VPS
NEXT_PUBLIC_SERVER_URL=http://IP_DU_VPS

FRONTEND_API_URL=http://IP_DU_VPS/api